body {
  margin: 0;
  font-family: 'Roboto';
  background: #FD8885;
}

.scene {
  height: 100vh;
}

.smMove {
  left: -1000;
}

.welcome {
  .flexCenter;

  .headerwrap {
    z-index: 2;
    h1 {
      font-family: 'vinyl';
      margin: 0.7rem;
    }
  }
  
  svg {
    position: absolute;
  }

  i {
    z-index: 2;
  }
}

.loginButtons {
  .flexCenter;
  z-index: 2;

  button {
    width: 325px;
    border-color: #000;
    color: #000;
  }

  i {
    padding: 0 0.5em 0 0;
  }
}

